.btn_add_areas{
    padding: .5rem 1rem;
}

.tablaActive{
    display: block;
    margin: auto;
    max-height: 40rem;
}

.btn_regresar_area{
    width: 4rem;
    font-family: 'Poppins', sans-serif;
}

.btn_regresar_area p{
    display: none;
}

.container_btn_regresar{
    width: 25rem;
}

@media (min-width:769px){
    .btn_regresar_area p{
        display: block;
    }
    .btn_regresar_area{
        width: auto;
        font-family: 'Poppins', sans-serif;
    }
    .container_btn_regresar{
        width: 36rem;
    }
}
.swal-modal{
    width: 35rem;
}
.swal-title{
    color: black;
}

.swal-text{
    color: black;
}

.swal-button--confirm{
    background-color: rgb(217, 46, 46);
}

.swal-button--confirm:hover{
    background-color: rgb(172, 38, 38);
}