.contenedorCobranzas {
    max-width: 147rem;
    margin: auto;
    margin-top: 10rem;
}

.tabla-cobranzas {
    margin: 5rem auto 0 auto;
    max-height: 70rem;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    max-width: 147rem;
    border-collapse: collapse;
}

.tabla-cobranzas thead th {
    min-width: 20rem;
    text-align: center;
    text-transform: uppercase;
}

/* .accordion-title:hover ~ .accordion-title td:nth-child(1) {
    border-left: 2px solid red;
} */

.tabla-cobranzas .columnId-cobranzas {
    min-width: 3rem;
}
.tabla-cobranzas .columnButton-cobranzas {
    min-width: 7rem;
}
.accordion-title td {
    padding: 0 1rem;
    transition: all 0.3 ease;
}

.accordion-title .accordion-title-tipo_documento {
    color: gray;
}

.tabla-cobranzas tbody tr td {
    height: auto;
    padding: 1rem 0;
}

.tabla-cobranzas tbody .accordion-content td {
    background-color: #ebebeb;
    padding: 0;
    transition: all 0.3 ease;
}

.border-red {
    border-left: 2px solid #f82b3c;
    font-weight: bold;
    color: #f82b3c;
}

.accordion-content .input-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.accordion-content .input-group input {
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    border: 1px solid rgb(220, 220, 220);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

.input-group label {
    text-align: start;
    text-transform: none;
    color: gray;
    font-size: 1rem;
}

.accordion-title .estado {
    background-color: gray;
    color: white;
    padding: 0.5rem 1rem;
    width: 10rem;
    margin: auto;
    border-radius: 0.5rem;
}

.accordion-title .cobranza_estado_activo {
    background-color: #39a739;
}
.accordion-title .cobranza_estado_suspendido {
    background-color: #d3d32b;
}

.accordion-title .cobranza_estado_de_baja {
    background-color: #eb4d4d;
}

.container_btn_cobranzas {
    padding: 1rem;
}

.accordion-content .btn_cobranzas {
    padding: 18rem 1rem;
    border-radius: 0.5rem;
    font-family: "Poppins", sans-serif;
}

.accordion-content .subcontenedor_td {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
}

.subcontenedor_td.show {
    max-height: 500px;
}
.icon_flecha_cobranzas {
    transition: transform 0.3s;
}

.rotate {
    transform: rotate(-180deg);
}

.header_cobranza {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .header_cobranza {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}

.header_cobranza .title {
    background-color: white;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    padding: 2rem;
    font-weight: normal;
}

.header_cobranza .title h3 {
    color: gray;
    font-weight: normal;
}

.uploadExcel {
    width: 15rem;
    display: inline-block;
    grid-column: 1/3;
    width: 100%;
}

.input_uploadExcel {
    display: none;
}

.container_buttons_cobranzas {
    gap: 2rem;
    background-color: white;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr;
}


.uploadExcel p {
    background-color: #676966;
    padding: 2rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
}
.uploadExcel p:hover {
    background-color: #858784;
}
.icon_button_cobranza {
    font-size: 1.8rem;
}

.container_buttons_cobranzas button {
    width: 13.5rem;
    padding: 2rem 1rem;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border: none;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .container_buttons_cobranzas {
        display: flex;
        justify-content: center;
    }
    .container_buttons_cobranzas button {
        width: 15rem;
    }
    .uploadExcel {
        width: 15rem;
        display: inline-block;
        grid-column: 1/3;
        width: 15rem;
    }
}
.button_save {
    background-color: #676966;
}
.button_save:hover {
    background-color: #858784;
}

.button_load {
    background-color: #676966;
}
.button_load:hover {
    background-color: #858784;
}

.button_delete {
    background-color: #d63636;
}

.button_delete:hover {
    background-color: #ff5656;
}
