
.contenedorCobranzas{
    margin-top: 10rem;
}

.tabla-cobranzas{
    width: auto;
    margin: 5rem auto 10rem auto;
    max-height: 70rem;
    text-align: center;
}

.tabla-cobranzas thead th{
    min-width: 20rem;
    text-align: center;
    text-transform: uppercase;
}

