.img_empleados {
    width: 115%;
    height: auto;
    object-fit: contain;
}

.form-buscar-empleados {
    display: flex;
    gap: 0.5rem;
}

.contenedor-empleados {
    max-width: 140rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 80rem;
}

.panel-filtro {
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
    min-height: 2.2rem;
    transition: all 0.3s ease;
}

.panel-filtro.show {
    min-height: 15rem;
    overflow: initial;
}

.panel-filtro .panel_filtro_titulo {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-filtro .panel_filtro_titulo h1 {
    font-size: 1.5rem;
}
.panel_filtro_titulo_arrow {
    font-size: 1.8rem;
    transition: all 0.3s ease;
}

.panel_filtro_titulo_arrow.show {
    transform: rotate(-180deg);
}

@media (min-width: 1300px) {
    .panel_filtro_titulo_arrow {
        display: none;
    }
}
.form-group-empleados {
    display: block;
}

.panel-filtro .link_filtro {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.panel-filtro .link_filtro:hover {
    background-color: rgb(233, 230, 230);
}

.panel-filtro .link_filtro {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.panel-filtro .link_filtro.show {
    opacity: 1;
}

.link_filtro_icon {
    color: black;
    font-size: 1.5rem;
}
.panel-filtro .link_filtro p {
    font-size: 1.5rem;
    color: black;
}

@media (min-width: 1300px) {
    .contenedor-empleados {
        flex-direction: row;
    }
    .panel-filtro .link_filtro {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    .panel-filtro {
        width: 25%;
    }

    .form-group-empleados {
        display: flex;
    }
}

.form-group-empleados::-webkit-scrollbar {
    width: 5px;
}

.form-group-empleados::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
    border-radius: 7px;
}

.empleados-data-card-contenedor {
    overflow-x: auto;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
}

.empleados-data-card {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 2rem;
}

.empleados-data-card button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 1300px) {
    .empleados-data-card-contenedor {
        width: 100rem;
    }
}

@media (min-width: 900px) {
    .empleados-data-card-contenedor {
        overflow: hidden;
        max-height: 30rem;
    }

    .empleados-data-card {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 2rem;
        justify-content: space-between;
        width: 100%;
    }
}
