.contenedor-form {
    background-color: white;
    padding: 2rem;
    width: 30rem;
    border-radius: .8rem;
    margin-top: 5rem;
}

.btn_regresar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #676966;
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;

}

.btn_regresar_texto {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: none;
}

.contenedor-form-header {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;       
    }

@media (min-width:768px) {
    .contenedor-form {
        width: 60rem;
        /* display: flex; */

    }   

    .subcontenedor {
        display: flex;
    }

    .subcontenedor-form {
        width: 50%;
        padding: 1rem;
    }

    .btn_regresar_texto {
        display: flex;
    }
}

.subcontenedor .subcontenedor-form .form-group__input-group {
    width: 100%;
}

.contenedor-form__texto {
    text-align: center;
    font-size: 3rem;
    width: 90%;
}

.form-group__input-group input {
    font-family: 'Poppins', sans-serif;
}

.select_admin {
    padding: .5rem 1rem;
    margin: 1.5rem 0;
    font-family: 'Poppins', sans-serif;
}

.btn_registrar {
    margin: auto;
    padding: 1rem 2rem;
    border: none;
    background-color: #E62838;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

@media (min-width:768px) {
    .btn_registrar:hover {
        background-color: #f82b3c;
        transform: scale(1.1);
    }

    .btn_regresar:hover {
        background-color: #858784;
        transform: scale(1.1);
    }
}