.contenedor-modulo a{
    text-decoration: none;
    color: black;
    margin-bottom: 4rem;
}

@media (min-width:768px){
    .contenedor-modulo a{
        margin-bottom: 0;
    }
}

.contenedor-modulo {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (min-width:768px) {
    .contenedor-modulo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (min-width:1150px) {
    .contenedor-modulo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1500px) {
    .contenedor-modulo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}