.contenedor_nuevo-dato {
    /* position: absolute;
    top: 0;
    height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.7); */
}



@media (min-width:768px) {
    .contenedor_nuevo-dato button {
        top: 8rem;
    }
}

.contenedor_nuevo-dato button .icono {
    font-size: 3rem;
    color: white;

}



