.pagination {
    display: flex;
    gap: 3rem;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    height: 4rem;
    color: gray;
    padding: 1rem 0rem 5rem 0;
    user-select: none;
    margin-bottom: 2rem;
}

@media (min-width: 1300px) {
    .pagination {
        padding: 1rem 0rem 0rem 0;
        justify-content: end;
    }
}
.pagination li {
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pagination li:hover {
    /* background-color: #f82b3c; */
    color: black;
}

.pagination .active {
    /* background-color: gray; */
    font-size: 1.4rem;
    /* padding: 0.7rem 1.4rem; */
    border-radius: 50%;
    transition: all 0.2s ease;
    color: #f82b3c;
    font-weight: bold;
}

.pagination a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
