.pagination {
    display: flex;
    gap: 3rem;
    font-family: "Poppins", sans-serif;
    width: 90rem;
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    align-items: center;
    background-color: rgb(252, 252, 252);
    height: 4rem;
    color: gray;
    padding-top: 1rem;
    user-select: none;
}
.pagination li {
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .8rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pagination li:hover {
    /* background-color: #f82b3c; */
    color: black;
}

.pagination .active {
    background-color: gray;
    font-size: 1.4rem;
    /* padding: 0.7rem 1.4rem; */
    border-radius: .8rem;
    transition: all 0.2s ease;
    color: white;
}

.pagination a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
