.form-group-table {
    display: flex;
    margin: auto;
    padding-top: 10rem;
    gap: 5rem;
}

.form-group-header-table {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 2rem 0 2rem 0;
    flex-direction: column;
}

.form-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.form-table .subcontenedor{
    width: 80%;
}
.input-area-table {
    width: 80%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.btn_registrar-table {
    width: 100%;
}
@media (min-width: 769px) {
    .form-group-table {
        flex-direction: row;
        width: 80rem;
        height: 100vh;
        padding-top: 0;
    }
    .form-group-header-table {
        margin-bottom: 0;
        height: 36rem;
        width: 50%;
    }
}
