.contenedor-navegacion{
    max-width: 100%;
    overflow-x: auto;
}

.navegacion{
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
}

@media (min-width:768px){
    .navegacion{
        justify-content: space-evenly;
        gap: 0;
    }
}

.navegacion .link_rrhh{
    font-size: 1.5rem;
    color: black;
    background-color: rgb(233, 230, 230);
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    transition: all .3s ease;
}

.navegacion .link_rrhh:hover{
    background-color: gray;
    color: white;
}