.usuarios {
    width: 100%;
    height: 100vh;
}

.form-group {
    width: 100%;
    /* height: 100%; */
}

.form-group-header, .form-group-header-lector {
    width: 100%;
    /* height: 6rem; */
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-group-header h1 {
    margin-bottom: 2rem;
}

@media (min-width: 769px) {
    .form-group-header {
        width: 100rem;
        max-width: 100%;
        margin-bottom: 0;
        justify-content: space-between;
    }
    .form-group-header-lector{
        width: 95rem;
        max-width: 100%;
        margin-bottom: 0;
        justify-content: end;
    }
    .form-group-header h1 {
        margin-bottom: 0;
    }
}

.busqueda {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid gray;
    outline: none;
    width: 15rem;
    font-family: "Poppins", sans-serif;
}

@media (min-width:769px){
    .busqueda{
        width: 20rem;
    }
}

.contenedor-input {
    display: flex;
    align-items: center;
}

.btn_add {
    background-color: #f82b3c;
    border: none;
    border-radius: 0.8rem;
    /* margin-left: 2rem; */
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    gap: 1rem;
}

.btn_add:hover {
    background-color: #bd1e2b;
}
.tabla {
    margin-top: 5rem;
    max-width: 100rem;
    max-height: 50rem;
    overflow: scroll;
    display: none;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(235, 235, 235);
}

@media (min-width: 769px) {
    .tabla {
        display: block;
    }
}

.tabla::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.tabla::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
    border-radius: 7px;
}

.tabla thead tr th {
    position: sticky;
    top: 0;
    background-color: rgb(252, 252, 252);
}

.tabla thead tr,
.table__header tr {
    height: 4rem;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.tabla thead th,
.table__header th {
    font-size: 1.4rem;
    font-weight: normal;
    color: gray;
    text-align: start;
    padding: 0 1rem;
}

.tabla tbody {
    background-color: white;
}

.tabla tbody tr {
    cursor: pointer;
}

.tabla tbody tr:hover {
    background-color: #ebebeb;
}

.tabla tbody tr td {
    height: 5rem;
    /* border: 1px solid #8080801b; */
    border-top: 1px solid rgb(235, 235, 235);
}

.tabla-empleados tbody tr td {
    /* height: 11rem; */
    padding: 0.5rem 1rem;
}



.tabla-empleados thead .nombre,
.tabla-empleados thead .apellidos{
    width: 20rem;
}

.tabla-empleados thead .dni,
.tabla-empleados thead .estado{
    width: 15rem;
}

.data {
    padding: 0.5rem 1rem;
}

.data_id {
    text-align: center;
}

.data_opciones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn_option {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    /* color: white; */
    /* border-radius: 0.3rem; */
    border-radius: 50%;
    background-color: transparent;
}
.wsp {
    color: rgb(155, 155, 155);
    height: 18px;
    display: flex;
}
.wsp:hover {
    color: white;
}
.icon {
    font-size: 1.5rem;
    /* color: rgb(155, 155, 155); */
}

.view,
.edit,
.delete,
.wsp {
    transition: all 0.2s ease;
    /* color: rgb(155, 155, 155); */
    color: #f82b3c;
}
.view:hover,
.edit:hover,
.delete:hover,
.wsp:hover {
    background-color: #f82b3c;
    color: white;
}

.contenedor-imagenTable {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.contenedor-general-cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    overflow: auto;
}

@media (min-width: 769px) {
    .contenedor-general-cards {
        display: none;
    }
}

.contenedor-cards {
    margin-bottom: 4rem;
    width: 28rem;
    border: 1px solid rgb(233, 230, 230);
    padding: 0 2rem;
    border-radius: 0.8rem;
}

.cards {
    border-bottom: 1px solid rgb(233, 230, 230);
    padding-bottom: 2rem;
}

.cards-employee {
    display: flex;
    gap: 2rem;
}

.cards-usuarios {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
.contenedor-info {
    margin-top: 2rem;
    width: 40%;
}
.contenedor-foto {
    /* max-width: 50%; */
    width: 9rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #f82b3c;
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 0px 0px 200px 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 60%;
}

.container .datos-principales .datos-principales_nombre {
    font-size: 1.5rem;
    color: #f82b3c;
    font-weight: bold;
    text-align: center;
}
.container .datos-principales .datos-principales_dni {
    font-size: 1.2rem;
    color: gray;
    text-align: center;
}

.contenedor-redondo-foto {
    /* border: 1px solid gray; */
    height: 9rem;
    width: 9rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media (min-width: 769px) {
    .contenedor-redondo-foto {
        height: 15rem;
        width: 15rem;
    }
}

.contenedor-foto img {
    width: 115%;
    height: auto;
}

.cards .contenedor-datos p {
    font-size: 1.3rem;
}

.empleado-no-activo {
    background-color: #ebebeb;
}
