.modal-ver-empleado {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* filter: blur(5px); */
    position: fixed;
    top: 0;
    z-index: 3;
    left: 0;
}

.contenedor-ver-empleado {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 2rem; */
    z-index: 3;
    padding-top: 2rem;
}
.container-ver-empleado {
    width: 100%;
}

.contenedor-ver-empleado__contenedor-boton {
    width: 28rem;
    display: flex;
    justify-content: end;
    padding: 1rem 2rem;
}

.ver-empleado-card {
    /* border: 1px solid rgb(233, 230, 230); */
    /* border: 1px solid #f82b3c; */
    padding: 0 2rem 2rem 2rem;
    border-radius: 1.5rem;
    width: 24rem;
    height: 45rem;
    overflow: auto;
}

@media (min-width: 769px) {
    .ver-empleado-card {
        display: flex;
        gap: 2rem;
        align-items: center;
        height: auto;
    }
    .container-ver-empleado {
        width: 35%;
    }
    .contenedor-empleado {
        width: 65%;
    }
    .contenedor-foto {
        height: 22rem;
        width: 15rem;
    }
}

.contenedor_foto_modal {
    width: 15rem;
    height: 15rem;
}

.contenedor_redondo_foto_modal {
    height: 12rem;
    width: 12rem;
}

.container .datos-principales .datos-principales_nombre_modal {
    font-size: 1.8rem;
}
.container .datos-principales .datos-principales_dni_modal {
    font-size: 1.4rem;
}
.ver-empleado-card p {
    font-size: 1.2rem;
    color: black;
}

.ver-empleado-card .contenedor-empleado {
    margin-top: 2rem;
}

@media (min-width: 769px) {
    .ver-empleado-card {
        width: 65rem;
        min-width: 60rem;
    }
    .ver-empleado-card p {
        font-size: 1.4rem;
    }
    .contenedor-ver-empleado__contenedor-boton {
        width: 72rem;
    }
    .contenedor-ver-empleado {
        margin-top: 0rem;
    }
    .contenedor_foto_modal {
        width: 19rem;
        height: 19rem;
    }

    .contenedor_redondo_foto_modal {
        height: 17rem;
        width: 17rem;
    }
}

@media (min-width: 950px) {
    .ver-empleado-card {
        width: 85rem;
    }
    .contenedor-ver-empleado__contenedor-boton {
        width: 90rem;
    }
}

.contenedor-datos {
    display: block;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 769px) {
    .contenedor-datos {
        display: flex;
    }
}

.contenedor-datos .contenedor-datos_texto-dato {
    width: 100%;
}

.contenedor-datos .contenedor-datos_texto-dato-info {
    width: 100%;
}

@media (min-width: 769px) {
    .contenedor-datos .contenedor-datos_texto-dato {
        width: 45%;
    }

    .contenedor-datos .contenedor-datos_texto-dato-info {
        width: 55%;
    }
}

.contenedor-datos .dato-info {
    color: gray;
    font-weight: normal;
}

.btn_cerrar {
    background-color: #f82b3c;
    border: none;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-family: "Poppins", sans-serif;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
}

.btn_cerrar:hover {
    background-color: #bd1e2b;
}
